<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
        function check() {
            // alert("ok");
            if (delform.pw.value == "") {
                alert("비밀번호를 입력해주세요.");
                delform.pw.focus();
                return false;
            } 
        };
    </script>
</head>

<body>
    <h1><%= title %></h1>
    <a href="/">글 리스트로 돌아가기</a>
    <form action="/delete" name='delform' method='post'>
        <table>
            <tr>
                <th>비밀번호</th>
                <td>
                    <input type="hidden" name="no" value="<%= no%>">
                    <input type="password" name="pw" size="20" max_length="20">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="삭제" onClick="return check()">
                    <input type="reset" value="취소">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>