<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회수</th>
      </tr>
      <% for (var i = 0; i<rows.length; i++) {%>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
